{% extends "layout.html" %}
{% set title = "Carte des points de retrait des sacs de déchets alimentaires" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <iframe style="width: 100%; height: 80vh; border: none;" allowfullscreen
            src="https://umap.openstreetmap.fr/fr/map/points-de-retraits-des-sacs-de-dechets-alimentaire_662516?scaleControl=false&miniMap=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=true&tilelayersControl=null&embedControl=null&datalayersControl=false&onLoadPanel=databrowser&captionBar=false&locateControl=true&editinosmControl=false"></iframe>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p><a href="https://umap.openstreetmap.fr/fr/map/points-de-retraits-des-sacs-de-dechets-alimentaire_662516">Ouvrir le carte en plein-écran</a></p>
    </div>
    <div class="col-6">
        <p>Carte désormais disponible depuis <a href="https://www.grenoblealpesmetropole.fr/80-les-dechets-alimentaires.htm#par778">le site de la Grenoble-Alpes Métropole</a></p>
    </div>
</div>
{% endblock %}