<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Thomas Muguet" />
    <meta name="robots" content="index,follow" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ title }} / Déchets Alimentaires / Grenoble Alpes Métropole</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Déchets Alimentaires / Grenoble Alpes Métropole</a>
            <span class="navbar-text">Carte des points de retrait des sacs de déchets alimentaires</span>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>

    <footer class="bg-dark text-center text-white-50">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Déchets Alimentaires / Grenoble Alpes Métropole</h1>
                </div>
                <div class="col-sm">
                    <p>Site fait à l'arrache par <a href="https://tmuguet.me">Thomas Muguet</a>, non affilié à Grenoble
                        Alpes Métropole.</p>
                    <p>En l'absence de carte fournie par la Métropole, les données étaient aggregées depuis le site de la Métro.
                        Désormais la carte est disponible depuis <a
                        href="https://www.grenoblealpesmetropole.fr/80-les-dechets-alimentaires.htm#par778">le site de
                        la Métropole</a> donc ce site est amené à dispaître.</p>
                </div>
                <div class="col-sm">
                    <p><a href="https://gitlab.com/tmuguet/gametro_collecte_dechets.city">Code source disponible sur
                            Gitlab.com</a></p>
                    <p>Version {{ version }}</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>